/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --primary-color: #12d41c;
    --secondary-color: #b1e5a0;
    --light-color: #ffffff;
    --text-color: #36454f;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--secondary-font);
    color: var(--text-color);
}

a{
    color: inherit;
    text-decoration: none;
}

/* Header Styles */
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 5px;
}

/* Navigation Container Styles */
header .nav_container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .nav_container .logo_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

header .nav_container .logo_container .logo{
    width: 60px;
    height: 60px;
    display: block;
    flex-shrink: 0;
}

header .nav_container .logo_container h3{
    font-size: 20px;
    margin: 0;
    line-height: 1;
    font-weight: 700;
    white-space: nowrap;
}

/* Menu Container Styles */
header .nav_container .menu_container{
    width: 100%;
}

header .nav_container .menu_container .menu_list{
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;
}

header .nav_container .menu_container .menu_list li{
   list-style: none; 
}

header .nav_container .menu_container .menu_list li a{
   font-weight: 450;
   transition: all 0.3s ease-in-out;
}

header .nav_container .menu_container .menu_list li a:hover{
   color: var(--primary-color);
}

